/* Navigation Bar*/ 
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #4682b4;
  }
  /* nav bar on the right of webpage */
  li {
    float: left;
    text-align: left;
  }
  /*nav bar horizontal at full screen */
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Lucida Console', monospace ;
    font-size: 19px;
    text-decoration: none;
  }
  
  /* Change the link colour on hover */
  li a:hover {
    background-color: #87ceeb;
  }
  /* responsive design, nav bar becomes vertical */ 
  @media screen and (max-width: 1340px) {
    .navbar li {
      text-align: center;
      float: none;
    }
    li .logo{
      display: none;
    }
  }
  
  .Header_Image_Title {
      position: relative;
      font-family:'Copperplate', Fantasy;
      text-align: center;
      color: black;
      max-width: 100%;
      height: 50%
    }
   /* website title in the center of images on each page */   
  .Centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 5vw;
    }
  
    /* makes heading image responsive */
  .responsive {
      width: 100%;
      height: auto;
    }

    .MeetTeam {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 600;
        height: 400;
        border:solid;
        border-color: black;
      
      }
      .BackgroundMTT{
        background: white;
      }
      
      .Image_gallery {
        margin: 5px;
        border: 3px solid #ccc;
        /* float: left; */
        width: 180px;
        height: 525px;
        padding: 25px;
      }
      
      .Image_gallery:hover {
        border: 4px solid #777;
      }
      
      .Image_gallery img {
        width: 100%;
        height: auto;
      }
      
    
      .problemstatement{
        font-size: 18;
        color: steelblue;
        padding-top: 50px;

      }

      .description {
        text-align: center;
        color: #191970;
      }
      .teamdescription{
        color:darkblue;
      }
      .footer-cont {
        background-color:#4682b4;
        bottom:0%;
      }
      

      .footer{
        width: 80%;
        height:auto;
        background-color:#4682b4;
        color:black;
        font-family: 'Courier New', monospace ;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        bottom: 0; 
        
      }

      .footerHeading1{
        display:flex;
        flex-direction:column;
        margin-right: 64px;
      }

      .footerHeading1 h2 {
        margin-bottom: 25px;
      }

      .footerHeading1 a {
        color: white;
        text-decoration: none;
        margin-bottom: 8px;
      }

      .footerHeading2{
        display:flex;
        flex-direction:column;
        margin-right: 64px;
      }

      .footerHeading2 h2 {
        margin-bottom: 25px;
      }

      .footerHeading2 a {
        color: white;
        text-decoration: none;
        margin-bottom: 8px;
      }

      .footerHeading3{
        display:flex;
        flex-direction:column;
        margin-right: 64px;
      }

      .footerHeading3 h2 {
        margin-bottom: 25px;
      }

      .footerHeading3 p {
        margin-top: 0%;
        color: white;
        text-decoration: none;
      }

      .footerHeading1 a:hover {
        color:#87ceeb;  
      }

      .footerHeading2 a:hover {
        color:#87ceeb;  
      }


      .teamcontainer {
        padding: 40px;
        display: flex;
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 18px;
    }

  .Meetteamgallery{
    position: relative; 
    padding-left: 450px;
    padding-right: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex; 
    justify-content: space-around;
  }
  @media screen and (max-width: 1700px) {
    .Meetteamgallery{
      position: static; 
      padding-top: 50px;
      padding-bottom: 50px;
      justify-content: space-around;
    }
    .Image_gallery {
      margin: 5px;
      border: 3px solid #ccc;
      /* float: left; */
      width: 180px;
      height: 725px;
      padding: 25px;
    }
  }

  .SolutionDashboard{
    padding-top: 50px;
    padding-left: 475px;
    padding-bottom: 50px;
  }
 
  .introduction{
    color: darkblue;
    font-size: 14pt;
    
  }

  .Problemstatementtext{
    color: darkblue;
    font-size: 18pt;
    padding-top: 25px;
    font-weight: bold;  }
  .textproblem{
    font-size: 14pt;
    color: darkblue;
  }
  .problemstatement{
    text-align: center;
    padding-bottom: 25px;
  }
  

  .ImageofWaterloo{
   text-align: center;
  }

  .Progress2Image{
    text-align: center;
  }
 

  .gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  .gallery:hover {
    border: 1px solid #777;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    
  }
  