/* Navigation Bar*/ 
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 25px;
    overflow: hidden;
    background-color: #8FBC8F;
  }
  /* nav bar on the right of webpage */
  li {
    float: right;
    text-align: right;
  }
  /*nav bar horizontal at full screen */
  li a {
    display: block;
    color: #0ba813;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Comic Sans MS', cursive, sans-serif ;
    font-size: 19px;
    text-decoration: none;
  }
  
  /* Change the link colour on hover */
  li a:hover {
    background-color: #9b1616;
    background-color: #9fca9f;
  }
  /* responsive design, nav bar becomes vertical */ 
  @media screen and (max-width: 1340px) {
    .navbar li {
      text-align: center;
      float: none;
    }
    li .logo{
      display: none;
    }
  }
